<aside id="admin_sidebar"
    class="sidebar bg-primary fixed top-0 left-0 h-full w-[250px] flex flex-col justify-between text-white z-40 hidden lg:flex overflow-y-auto">
    <style>
        .sidebar {
            overflow-y: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
        .sidebar::-webkit-scrollbar {
            display: none;
        }
    </style>
    <div>
        <div class="flex items-center space-x-2 px-6 ">
            <div class="inline flex justify-center w-full">
                <img src="/assets/logo.png" class="w-36 h-36 rounded-full" alt="auto care logo" />
            </div>
        </div>
        <nav class="mt-2">
            <ul class="space-y-1 px-4">
                <li>
                    <a data-value="dashboard" href="/pages/admin/dashboard/dashboard.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-900 transition">Dashboard</a>
                </li>
                <li>
                    <button type="button"
                        class="flex items-center w-full py-2 px-3 rounded hover:bg-indigo-900 transition focus:outline-none sidebar-user-btn"
                        aria-expanded="false" aria-controls="sidebar-user-submenu">
                        User Management
                    </button>
                    <div id="sidebar-user-submenu" class="pl-8 mt-1 space-y-1 hidden">
                        <a data-value="customer_management" href="/pages/admin/customer-management/customer-management.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-800 transition">Customer
                            Management</a>
                        <a data-value="mechanic_management" href="/pages/admin/mechanic-management/mechanic-management.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-800 transition">Mechanic
                            Management</a>
                    </div>
                </li>
                <li>
                    <a data-value="bookings"  href="/pages/admin/bookings/bookings.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-900 transition">Bookings</a>
                </li>
                <li>
                    <a data-value="garage" href="/pages/admin/garage-management/garage-management.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-900 transition">Garage
                        Management</a>
                </li>
                <li>
                    <button type="button"
                        class="flex items-center w-full py-2 px-3 rounded hover:bg-indigo-900 transition focus:outline-none sidebar-service-btn"
                        aria-expanded="false" aria-controls="sidebar-service-submenu">
                        Service Management
                    </button>
                    <div id="sidebar-service-submenu" class="pl-8 mt-1 space-y-1 hidden">
                        <a data-value="services" href="/pages/admin/service-management/service-management.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-800 transition">Services</a>
                        <a data-value="packages" href="/pages/admin/service-management/packages.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-800 transition">Packages</a>
                    </div>
                </li>
                <li>
                    <a data-value="payments" href="/pages/admin/payments/payments.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-900 transition">Payments &
                        Billings</a>
                </li>
                <li>
                    <a data-value="reports" href="/pages/admin/reports/reports.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-900 transition">Reports</a>
                </li>
                <li>
                    <a data-value="issues" href="/pages/admin/issues/issues.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-900 transition">Issues &
                        Tickets</a>
                </li>
                <li>
                    <a data-value="notifications" href="/pages/admin/notifications/notifications.html"
                        class="flex items-center py-2 px-3 rounded hover:bg-indigo-900 transition">Notifications</a>
                </li>
                <li>
                    <a data-value="content_management" href="/pages/admin/content-management/content-management.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-900 transition">Content
                        Management</a>
                </li>
                <li>
                    <a data-value="backup_restore" href="/pages/admin/backup-restore/backup-restore.html" class="flex items-center py-2 px-3 rounded hover:bg-indigo-900 transition">Back up & Restore</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="px-6 py-4">
        <div class="flex items-center space-x-2 px-6 py-4 p-4">
            <span
                class="inline-flex items-center justify-center w-8 h-8 rounded-full bg-white text-primary font-bold">AC</span>
            <span class="text-white font-medium text-wrap">Barane kumar</span>
        </div>
        <button type="button"
            class="w-full flex items-center py-2 px-3 rounded bg-indigo-900 hover:bg-indigo-800 font-medium transition">
            Log out
        </button>
    </div>

</aside>
