<aside class="primary flex flex-col p-4 gap-6 h-screen">
    <!-- 
    
    this side bar can be used by any user both for admin and customer
    main features will be common for everyone 
    -- profile icon
    -- user name
    -- features
    -- profile page
    -- logout


    -->

        <!-- div for profile image -->
        <div class="flex flex-col items-center">
            <img id="profile-icon" src="/assets/profile_icon.png" alt="profile-icon" class="w-16 h-16 sm:w-20 sm:h-20 md:w-24 md:h-24 rounded-full object-cover"/>
            <div>Barane</div>
        </div>

        <div id="functionality-pages" >
            <div class="p-2 flex justify-center">Dash Board</div>
            <div class="p-2 flex justify-center">User management</div>
            <div class="p-2 flex justify-center">Customers</div>
            <div class="p-2 flex justify-center">Mechanics</div>
            <div class="p-2 flex justify-center">Bookings</div>
            <div class="p-2 flex justify-center">Garage Management</div>
            <div class="p-2 flex justify-center">Service Management</div>
            <div class="p-2 flex justify-center">Payments & Billings</div>
            <!-- <div class="p-2">Billings</div>
            <div class="p-2">Payment History</div>
            <div class="p-2">Refund Management</div> -->
            <div class="p-2 flex justify-center">Reports</div>
            <div class="p-2 flex justify-center">Issues & Tickets</div>
            <div class="p-2 flex justify-center">Notifications</div>
            <div class="p-2 flex justify-center">Content Management</div>
            <div class="p-2 flex justify-center">Backup & Restore</div>
        </div>

        <div class="flex justify-center">
            Log out
        </div>

</aside>